@font-face {
    font-family: Inter;
    src: url('../fonts/Inter/Inter-VariableFont_slnt\,wght.ttf');
}

@font-face {
    font-family: Roboto Mono;
    src: url('/fonts/RobotoMono/RobotoMono-VariableFont_wght.ttf');
}


p,div{
    font-family: Poppins;
}
#loading{
    background-color: rgb(24, 24, 24);
    position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  text-align: center;
  z-index: 99;

 
}


.fa-code{
    color: rgb(34, 211, 238);
    font-size: 50px;
    animation-name: loading-color;
    
}

@keyframes loading-color {
    0%   {color: rgb(250, 204, 21)}
    50%  {color: rgb(34, 211, 238)}
    100% {color: rgb(251, 113, 133)}
  }



#cursor-outer, #cursor-inner{
    z-index: 999 !important;
  }
body{
    background-color: rgb(3, 3, 3);
    position: relative;
    padding: 30px;
    background-image: url('/src/img/bg.png');
    background-size: cover; 
    background-repeat: no-repeat; /* Do not repeat the image */


   
    
}



p{
    margin: 0;
}

h1{
    margin-bottom: 0;
}



section{
    margin-bottom: 130px;

}

.nav-link{
    font-family: Poppins !important;
    font-size: 18px !important;
}

.banner-section{
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    
/*  */
}

.banner-left{
    height: 500px;
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
}

.hello-text,.name-text{
   
    font-size: 65px;
   
    font-weight: 700;
}

.hello-div{
    height: 100px;
}

.hello-text{
    color: #235DF1;
    font-family: Roboto Mono;
}

.name-text{
     font-family: Poppins;
        color: white;
}

.dlcv{
   
    border-radius: 20px;
    border: 1px solid rgba(85, 85, 85, 0.685);
    color: white;
    background-color: #18181815;
    font-family: Inter;
    font-weight: bold;
    width: 200px;
    height: 35px;
}


.dlcv:hover{
    background-color: #f1f1f1;
    color: rgb(0, 0, 0);


}

.about-section{
    max-width: 700px;
}

.descript-text{
    color: #C6C6C6;
    font-size:17px;
    font-weight: 500;
    /* width: 405px; */
    width: 500px;
    text-align: right;
}

.banner-right{
    height: 500px;
    width: 45%;

    display: flex;
    justify-content: left;
    
}

.pcgif{
    width: 100%;
}

.glass-div{
    width: 400px; /* set width of child div */
    display: flex;
    justify-content: center;
    align-items: center;

}




/* About Section */

.about-title{
    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 35px;
    color: #FFFFFF;
    margin-bottom: 0;
}

.about-text{
    font-family: Roboto Mono;
    font-weight: medium;
    font-size: 16px;
    color: #FFFFFF;
    margin-bottom: 20px;
}

.abt-txt-div{
    padding: 0px 70px 0px 70px;
    margin-top: 20px;
}
    
/* End of About */

/* Start of Project */
.projects-title{
 
        font-family: Inter;
        font-style: normal;
        font-weight: bold;
        font-size: 35px;
        color: #FFFFFF;
        margin-bottom: 0;
  

}


.conediv{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.cone{
    width:10%;
}

/* End of Project */


/* Start of Footer */

.footer{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.madebyme{
    font-family: Inter;
    font-weight: bold;
    color:#FFFFFF;
    font-size: 15px;
}


/*  */
/* Proj card */

.proj-card{
    background: rgba(24, 24, 24, 0.86);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    border: none;
    border-radius: 10px;
    color:white;
    position: relative;
    margin-bottom: 40px;
    margin-top: -35px;
    transition: transform 0.3s ease-in-out;
    
}


.proj-single:hover  .proj-card{
    transform: translateY(20px);
    
}

.proj-card-img{
    width: 100%;
    max-height: 350px;
    overflow: hidden;
    object-fit: cover;
    object-position: top;
}

.proj-card:hover{
    background: rgb(16, 16, 16);

}

.proj-card-title{
    font-family: Inter;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
}

.proj-card-desc{
    font-size: 15px;
}

.proj-card-btns{
    margin-top: 10px;
    display: flex;
    align-items: center;
    text-align: center;
}

.proj-card-vbtn{
    background: #ffcf11;
border-radius: 40px;
width: 100px;
height: 35px;
border: none;
margin-right: 15px;
}

.tech-items{
    font-size: 14px;
    font-weight: 600;
    margin-top: 20px;
    color:#88aaff;
    display: flex;
}

.proj-card-vbtn:hover{
    background: rgb(74, 222, 128);
    
  
}


/*  */
@media only screen and (max-width: 1280px) {

    .hello-text,.name-text{
        font-size: 50px;
        text-align: right;
    }
    .hello-div{
        height: max-content;
    }

    .descript-text{
        font-size:15px;

        /* width: 405px; */
        width: 330px;
    }
}





@media only screen and (max-width: 768px) {

    body{
        padding: 0px !important;
    }

    .col-md-6{
        padding:0px !important
    }

    .hello-text,.name-text{
        font-size: 48px;
    }
    .hello-div{
        height: 70px;
    }
    
    .descript-text{
        font-size:14px;

        /* width: 405px; */
        width: 230px;
    }


    .proj-card{
        margin-top: -30px;
        margin-left: 0px;
    }

    .proj-card-img{
        max-height: 250px;
    }

 
}

@media only screen and (max-width: 576px) {
    body{
        margin:25px;
        background-image: url('/src/img/bgmobile1.png');
        
    }
   
    .banner-section{
        display: flex;
        justify-content: space-between;
    
    /*  */
    }
    
    .banner-left{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
 
    .hello-text,.name-text{
        font-size: 55px;
        text-align: left;
    }
    .descript-text{
        font-size: 15px;
        text-align: left;
    }


    .banner-section{
        flex-direction: column;
    }

    .banner-left{
        height: 450px;
        width: 100%;
        align-items: start;
        margin-bottom: 0 !important;
    }

    .banner-right{
        width: 100%;
        height: 200px;
        margin: 0px 0px 80px 0px;
        justify-content: center;
    }
    .glass-div{
        display: flex;
        align-items: center;

        
    }


    .dlcv{
      
        border-radius: 50px;
        width: 250px;
        height: 42px;
        font-size: 20px;
    }



    .pcgif{
        width: 400px;
    }

    /* About */
    .abt-txt-div{
        padding: 0px;
      
    }
    /*  */

}


