a {
    color:inherit
}
body{
    background: rgb(237,237,240);
    background: linear-gradient(90deg, rgba(237,237,240,1) 0%, rgba(229,240,244,1) 67%);
    margin:0;
}

.easter-egg-button{
    background-color:transparent;
    border: none;
}
.container{
    margin:2% 10% 0% 10%
}
.icons-div{

}


.greetbox{
    margin-top: 10%;
    margin-bottom: 10%;
    display: flex;

}
.greetdiv{
    width:50%;
}
.greet,.subgreet{
    font-family: "Montserrat";
    font-weight:700;
    font-size:72px;
    margin:0 0 5px 0;
}
.greetimg{
    width: 100%;
}

.greetimgmain{
    width:50%;
    display: flex;
align-items:center;
justify-content:center;
}
.subgreet,.highlight-descript{
    color:#1063C6;
}

.descripgreet{
    font-family: "Montserrat";
    color:#7B7D84;
    font-size: 32px;
}
.aboutmetitle{
    font-family: "Montserrat";
    font-weight: 600;
    color:black;
    font-size: 80px;

}
.aboutdescript{
    font-family: "Open Sans";
    font-weight:500 ;
    margin-bottom: 5%;
    font-size:25px;
}

.easter-egg-div{
    width:100%;
}
.dog-image{
    width:300px;
    height: 300px;
}
.doggo-text-warn{
    font-family: 'Montserrat';
    font-weight: 800;
    font-size: 25px;
}

.doggo-times{
    font-family: 'Montserrat';
    font-weight: 800;
    font-size: 20px;
    color:red;
}

.projectsdescript{
    font-family: "Open Sans";
    font-weight:500 ;
}
.warn{
    background-color: aqua;
    font-weight: bold;
    font-size: 25px;
}
.working-on{
    width: 50%;
}
.warn-working{

    font-family: "Open Sans";
    font-weight:500 ;
    font-size: 25px;
}
.sub-descrip{
    font-size: 15px;
    text-align: left;
    padding: 0% 15% 3% 15%;
}
.projectsdiv{
    display: grid;
    grid-template-columns: auto auto ;
    column-gap: 20px;
}
.projects{
    width: 100%;
}
.credit{
    text-align: center;
    font-family: "Montserrat";
    font-weight:500 ;
    color: white;
    margin:0;
    padding: 10px;
}

.footer-div{
    background-color:#141414;
    margin: 0;
    width:100%;
    justify-content: center;
    align-items: center;
    text-align: center;
}


@media only screen and (max-width: 1100px) {
    .container{
        margin:1% 5% 0% 5%
    }
    .greetdiv,.greetimgmain{
        width:100%;
    }
    .greetbox{
        flex-direction: column;
    }
    .aboutdescript{
        font-size:19px;
    }
    /* .greetimgmain{
        display: none;
    } */
    .greet,.subgreet{
        font-size: 60px;
    }
    .aboutmetitle{
        font-size:40px;
    }
    .descripgreet{
        font-size: 30px;
    }
    .projectsdiv{
        display: grid;
        grid-template-columns: auto  ;
        column-gap: 20px;
    }
    .working-on{
        width: 100%;
    }
  }

  @media only screen and (max-width: 400px) {
    .greet,.subgreet{
        font-size: 45px;
    }
  }
