a {
    color:inherit;
    text-decoration: none;
}
body{
    margin:0;
    
}



/* intro efects */
#loading{
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  text-align: center;
  z-index: 99;

  font-family: "Montserrat";
  font-weight:700;
  font-size:30px;
  color:#141414
}

.loading-img{
    width: 80px;
    height: 80px;
}

/*  */
.logo-text{
    font-family: "Montserrat";
    font-weight:700;
    font-size:30px;
}

.easter-egg-button{
    background-color:transparent;
    border: none;
}
.container{

    /* margin:2% 10% 0% 10%; */
    margin:auto;
    padding:1% 5% 0% 5%;
    max-width: 1440px;

}
.logo-div,.icons-div{
    width:50%;
}
.logo-div{
    text-align: left;
}
.icons-div{
    text-align: right;
}
.header-div{
    display: flex;
    align-items: center;
    position: sticky;
    background-color: rgba(255, 255, 255, 0.785);
    top:0;
    z-index: 99;
}
.clickmetxt{
    margin: 0;
    /* animation: blinker 2s infinite; */
}





.greetbox{
    /* margin-top: 10%; */
    margin-bottom: 2%;
    display: flex;
  


}
.greetdiv{
    width:50%;
}
.greet,.subgreet{
    font-family: "Montserrat";
    font-weight:700;
    font-size:72px;
    margin:0 0 5px 0;
}
.greetimg{
    width: 100%;

}

.greetimgmain{
    width:50%;
    font-family: VT323;
    text-align: center;
    font-size: 40px;

}
.subgreet,.highlight-descript{
    color:#00588c;
}

.descripgreet{
    font-family: "Montserrat";
    color:#7B7D84;
    font-size: 32px;
    margin-bottom: 0px;
    height: 100%;

}

.descriptxt{
    margin: none;
}
.aboutmetitle{
    font-family: "Montserrat";
    font-weight: 600;
    color:black;
    font-size: 80px;

}
.winbar{
    width:100%;
    height:30px;
    background-color:#D6C5A6    ;
    border-bottom: solid;
    border-color: gray;
    border-width: 1px;
    align-items: center;
    display: flex;
    justify-content: end;


}
.winbarbutton{
    border-style: none;
    background-color: red;
    margin-right: 10px;
    width: 20px;
    height: 20px;
    animation:blink linear 1s infinite
}

@keyframes blink{
    100%{
        opacity: 0;
    }
}
.aboutdescriptdiv{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.aboutdescripttxt{
    padding: 20px;
    font-family: "Open Sans";
    font-weight:500 ;
    font-size:20px;
    color:black
}
.aboutdescript{
    background-color:white;
    width: 45%;
    
    border-style: solid;
    border-width: 1px;
    
    margin-bottom: 2%;
    
}
.resumediv{
    text-align: center;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: "Open Sans";
    font-weight:500 ;
    font-size: 20px;

}
.undercnstrct{
 
    width:35vw;
    height: auto;
}

.easter-egg-div{
    width:100%;
}
.dog-image{
    width:300px;
    height: 300px;
}
.doggo-text-warn{
    font-family: 'Montserrat';
    font-weight: 800;
    font-size: 25px;
}

.doggo-times{
    font-family: 'Montserrat';
    font-weight: 800;
    font-size: 20px;
    color:red;
}

.projectsdescript{
    font-family: "Open Sans";
    font-weight:500 ;
}
.warn{
    background-color: aqua;
    font-weight: bold;
    font-size: 25px;
}
.working-on{
    width: 50%;
}
.warn-working{

    font-family: "Open Sans";
    font-weight:500 ;
    font-size: 25px;
}
.sub-descrip{
    font-size: 15px;
    text-align: left;
    padding: 0% 15% 3% 15%;
}
.projectsdiv{
    display: grid;
    grid-template-columns: auto auto ;
    column-gap: 20px;
}
.projects{
    width: 100%;
}
.credit{
    text-align: center;
    font-family: "Montserrat";
    font-weight:500 ;
    color: white;
    margin:0;
    padding: 10px;
}

.dogpopdiv{
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.765);
    z-index: 99;
}


.closedog{
    display: none;
    margin: 20px;
    width: 50px;
    height: 50px;
    border-radius: 360px;
    border: none;
    position: fixed;
    right: 0;
    font-size: 20px;
    
}

.dogpopimg1{
    position:fixed;
    top: 0vh;
    right: -20vw;
    width:200px;
    height: 200px;
    animation: slidingdog1 5s;
    animation-iteration-count:infinite;
}

@keyframes slidingdog1 {
    50%{
        transform: translateX(-40vw);
    }
    100%{
        transform: translateX(-120vw);
    }
}

.dogpopimg2{
    position:fixed;
    top: 20vh;
    left: -20vw;
    width:400px;
    height: 400px;
    animation: slidingdog2 10s;
    animation-iteration-count:infinite;
}

@keyframes slidingdog2 {
    50%{
        transform: translateX(60vw);
    }
    100%{
        transform: translateX(120vw);
    }
}

.dogpopimg3{
    position:fixed;
    top: 50vh;
    left: -20vw;
    width:200px;
    height: 200px;
    animation: slidingdog3 3s;
    animation-iteration-count:infinite;
}

@keyframes slidingdog3 {
    50%{
        transform: translateX(55vw);
    }
    100%{
        transform: translateX(120vw);
    }
}

.dogpopimg4{
    position:fixed;
    top: 60vh;
    right: -100vw;
    width:500px;
    height: 500px;
    animation: slidingdog4 5s;
    animation-iteration-count:infinite;
}

@keyframes slidingdog4 {
    50%{
        transform: translateX(-100vw);
    }
    100%{
        transform: translateX(-200vw);
    }
}











.footer-div{
    background-color:#141414;
    margin: 0;
    width:100%;
    justify-content: center;
    align-items: center;
    text-align: center;
}






@media only screen and (max-width: 1366px) {
    .greetimg{
        width: 100%;
    
    }
}

@media only screen and (max-width: 1100px) {
    .container{

    }
    .greetdiv,.greetimgmain{
        width:100%;
    }
    .greetbox{
        flex-direction: column;
    }

    .aboutdescriptdiv{
        display: block;
    }
    .aboutdescript{
       
        width: 100%;
        font-size:19px;
    }
    /* .greetimgmain{
        display: none;
    } */
    .greet,.subgreet{
        font-size: 60px;
    }
    .aboutmetitle{
        font-size:40px;
    }
    .descripgreet{
        
        font-size: 30px;
    }
    .projectsdiv{
        display: grid;
        grid-template-columns: auto  ;
        column-gap: 20px;
    }
    .working-on{
        width: 100%;
    }
  }
@media only screen and (max-width: 600px) {
    .greet,.subgreet{
        font-size: 40px;
    }

    .descripgreet{
        font-size: 25px;
        height: 100%;
    }

   .dogpopimg1{
    animation: slidingdog1 4s;
    animation-iteration-count:infinite;
}

.dogpopimg2{
    animation: slidingdog2 3s;
    animation-iteration-count:infinite;
}


.dogpopimg3{
    animation: slidingdog3 6s;
    animation-iteration-count:infinite;
}

.dogpopimg4{
    animation: slidingdog4 s;
    animation-iteration-count:infinite;
}

}

  @media only screen and (max-width: 400px) {
    


  }
